

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="ja">
	<title>pokepureの備忘録置き場</title>
	<meta name="viewport" content="initial-scale=1">

	<!-- =========================================================== -->
	<!-- ▼共通の装飾（配色や余白などは、このCSSソースをご覧下さい） -->
	<!-- =========================================================== -->
	<!-- <link type="text/css" rel="stylesheet" href="forsample.css"> -->



	<!-- Original CSS -->
	<link rel="stylesheet" type="text/css" href="../pokepure_newSiteStyle.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!-- Vue.JS CDN(開発バージョン) -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<!--  サイト制作の参考：https://allabout.co.jp/gm/gc/463388/#aa463388responsive-columns -->


	<!-- ==================================================== -->
	<!-- ▼このページ用のレイアウトを記述したCSS（パターンC） -->
	<!-- ==================================================== -->
	
</head>

<body>

	<div class="pageheader">
		<h1>pokepureの備忘録置き場</h1>
		<p>
			制作してきたやつの記録を残す場所
		</p>
	</div>

	<!-- ======================= -->
	<!-- ▼2カラムレイアウト領域 -->
	<!-- ======================= -->
	<div class="page-cover">

		<!-- ====================== -->
		<!-- ▼メインを作るブロック -->
		<!-- ====================== -->
		<div class="main-column">

			<div class="main-box">
				<!-- <h2>ようこそ、ここはタイトルよ</h2> -->
				<h2>『蟲の棲む処』</h2>
				
				<div class="Edited_border_Nline_contents"></div>

				<p>現在は稼働を終了しているKONAMIの体感型リズムゲーム"Beat Stream"に収録されていた、かめりあさんの「蟲の棲む処」を元に書いた小説です。<br>
				&emsp; 恐怖を誘うようなPVとワブルの効いた素晴らしい音楽、ストーリー仕立ての歌詞の随所に散りばめられたキモチワルさがとても新鮮で、「この内容で一作書いてみたい」という強い衝動に駆られたのを覚えています。<br>
				&emsp;冒頭に登場する五人の女の子たちに、侵入した大きな屋敷の中で一体何があったかについてスポットを当てています。</p>

				<iframe src="/糸に囚われた少女たち_1.pdf#page=1" width="100%" height="100%"></iframe>



				<div class="Edited_border_Nline_contents"></div>

				<h4>- この小説の元にさせていただいた曲 -</h4>

				<div class="wrap">
					<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/zk5d7Qnnnow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>


			</div>
		</div>




		<!-- ====================== -->
		<!-- ▲メインを作るブロック -->
		<!-- ====================== -->

		<!-- ====================== -->
		<!-- ▼サイドを作るブロック -->
		<!-- ====================== -->
		<div class="side-column">

			<!-- 		<div class="side-box"> -->
				<!-- <a href="https://somechi-pokepure.github.io/pokepureAllWorks/index.html">トップへ</a> -->
				<!-- <a href="./index.html">トップへ</a> -->
				<!-- 				</div> -->




				<a href="/index.html">トップへ</a>
				<h2>カテゴリー</h2>
				<div class="side-box">
					<!-- <ul class="globalmenu">
						<li><a href="sample2columnlayout-a.html">制作アイワナ</a></li>
						<li><a href="sample2columnlayout-b.html">小説</a></li>
						<li><a href="sample2columnlayout-c.html" class="here">その他</a></li>
					</ul> -->

					<div class="menu-wrap">

						<label for="acd-menu">制作ゲーム（公開順）</label>
						<input type="checkbox" id="acd-menu">
						<ul class="acd-list">

							<!-- ゲームリスト -->
							<div id="workGameList">

								<game-list
								v-for="game in gameList"
								v-bind:gamename="game"
								v-bind:key="game.id"
								></game-list>

							</div>
							<script src="/scripts/main.js"></script>

						</ul>
					</div>

				</div>


				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu2">小説</label>
						<input type="checkbox" id="acd-menu2">
						<ul class="acd-list2">
							<!-- 小説リスト -->
							<div id="workStoryList">

								<story-list
								v-for="story in storyList"
								v-bind:storyname="story"
								v-bind:key="story.id"
								></story-list>

							</div>
							<script src="/scripts/main.js"></script>
						</ul>
					</div>

				</div>



				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu3">壁紙</label>
						<input type="checkbox" id="acd-menu3">
						<ul class="acd-list3">
							<li><a href="/contents_PaperWall/fig_Lazy.html">fig.Lazy</a></li>
							<li><a href="/contents_PaperWall/fig_Oblivion.html">fig.Oblivion</a></li>
						</ul>
					</div>

				</div>



				

			</div>

<!-- 	<div class="side-box">
		<h2>CSS</h2>
		<p>
		</p>
	</div> -->

</div>
</div>
<!-- ====================== -->
<!-- ▲サイドを作るブロック -->
<!-- ====================== -->

</div>
<!-- ======================= -->
<!-- ▲2カラムレイアウト領域 -->
<!-- ======================= -->

<div class="pagefooter">

	<p class="footlink">

	</p>
</div>

</body>
</html>


