

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="ja">
	<title>pokepureの備忘録置き場</title>
	<meta name="viewport" content="initial-scale=1">

	<!-- =========================================================== -->
	<!-- ▼共通の装飾（配色や余白などは、このCSSソースをご覧下さい） -->
	<!-- =========================================================== -->
	<!-- <link type="text/css" rel="stylesheet" href="forsample.css"> -->



	<!-- Original CSS -->
	<link rel="stylesheet" type="text/css" href="../pokepure_newSiteStyle.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!-- Vue.JS CDN(開発バージョン) -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


	<!--  サイト制作の参考：https://allabout.co.jp/gm/gc/463388/#aa463388responsive-columns -->


	<!-- ==================================================== -->
	<!-- ▼このページ用のレイアウトを記述したCSS（パターンC） -->
	<!-- ==================================================== -->
	
</head>

<body>

	<div class="pageheader">
		<h1>pokepureの備忘録置き場</h1>
		<p>
			制作してきたやつの記録を残す場所
		</p>
	</div>

	<!-- ======================= -->
	<!-- ▼2カラムレイアウト領域 -->
	<!-- ======================= -->
	<div class="page-cover">

		<!-- ====================== -->
		<!-- ▼メインを作るブロック -->
		<!-- ====================== -->
		<div class="main-column">

			<div class="main-box">
				<!-- <h2>ようこそ、ここはタイトルよ</h2> -->

				<div class="Game_info">

					<div class="row">
						<div class="col-sm-6 col-md-6">
							<img src="/images/rain/rain_Title.png" width="100%" height="auto">
						</div>

						<div class="col-sm-6 col-md-6">

							<h1>I wanna be the rain</h1>

							<h2>Creator</h2>
							<p>pokepure(マリオズキ)</p>

							<h2>公開日時</h2>
							<p>α版：2014年6月12日<br>
							完全版：2017年8月27日</p>

							<a href="https://1drv.ms/f/s!AiLwvLvQp938bYqFtQGwL3zYLjI">ダウンロードする</a>

						</div>

					</div>

				</div>

				<div class="Edited_border_Nline_contents"></div>


				<div class="Game_summary">
					<h3>ゲーム概要 </h3>
					<p>
						PlayStation3で発売されたゲーム『rain』を見て、「こういう作品が作りたい」と思い制作した作品でした。
						"ストーリーの制作","エンディングの制作"など、今まで自身がやったことのない様々なことに挑戦したとても思い入れのある作品です。<br>
&emsp; 
						ところで、"True End"の反対は"Bad End"ではないと思います。あくまでもこれは『真実』であり、『良い』というわけではないはずです。

					</p>
				</div>

				<div class="Edited_border_Nline_contents"></div>

				<h3>ステージ選択/詳細 </h3>

				<div class="Choose_stage">

					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/rain/rain_Chap1.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Chapter1">Chapter 1 </a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/rain/rain_Chap2.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Chapter2">Chapter 2 </a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/rain/rain_Chap3.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Chapter">Chapter 3</a>
								</div>
							</div>

						</div>

<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/rain/rain_Chap4_1.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Chapter4">Chapter 4（洞窟）</a>
								</div>
							</div>

						</div>

<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/rain/rain_Chap4_2.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Chapter5">Chapter 4（廃坑）</a>
								</div>
							</div>

						</div>


<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/rain/rain_Chap5.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#ChapterL">Chapter 5</a>
								</div>
							</div>

						</div>


					</div>

				</div>

				<div class="Edited_border_Nline_contents"></div>


			<!-- Stage1 -->
				<a id="Chapter1" class="anchor"></a>
				<h3>Chapter 1 </h3>

				<div class="outlook_stage">
					<h4>『脱出の始まり』</h4>
				

				<p>
					ステージに対するコメント
				</p>
</div>


			<!-- Stage2 -->
				<a id="Chapter2" class="anchor"></a>
				<h3>Chapter 2 </h3>

				<div class="outlook_stage">
					<h4>『なぞの街』</h4>

				<p>
					ステージに対するコメント
				</p>
</div>
<!-- Stage3 -->
				<a id="Chapter3" class="anchor"></a>
				<h3>Chapter 3</h3>

				<div class="outlook_stage">
					<h4>『川の向こうへ』</h4>
				

				<p>
					ステージに対するコメント
				</p>
</div>

<!-- Stage4 -->
				<a id="Chapter4" class="anchor"></a>
				<h3>Chapter 4</h3>

				<div class="outlook_stage">
					<h4>『暗闇の奥 - 洞窟』</h4>
				

				<p>
					ステージに対するコメント
				</p>

<h4>『暗闇の奥 - 炭鉱』</h4>
				

				<p>
					ここで出てくる炭鉱「Northern Evening Coalmine」とは、北海道にある有名な炭鉱から取った名前です。毒ガスの話が出てきますが、これも同様に実際に起こったことをもとにしていました。
				</p>

</div>


<!-- Stage5 -->
				<a id="Chapter3" class="anchor"></a>
				<h3>Chapter 5</h3>

				<div class="outlook_stage">
					<h4>『2つの扉』</h4>
				

				<p>
					2つの扉
				</p>
</div>

<!-- StageL -->
				<a id="ChapterL" class="anchor"></a>
				<h3>Chapter L</h3>

				<div class="outlook_stage">
					<h4>『End of Rain』</h4>
				

				<p>
					テキストのみで進行します。<br>
					少年は一体、どのような人物で、なにを行ったのかが明らかになるChapterです。
				</p>
</div>


			</div>
		</div>




		<!-- ====================== -->
		<!-- ▲メインを作るブロック -->
		<!-- ====================== -->

			<!-- ====================== -->
			<!-- ▼サイドを作るブロック -->
			<!-- ====================== -->
			<div class="side-column">

				<!-- 		<div class="side-box"> -->
					<!-- <a href="https://somechi-pokepure.github.io/pokepureAllWorks/index.html">トップへ</a> -->
					<!-- <a href="./index.html">トップへ</a> -->
					<!-- 				</div> -->




				<a href="/index.html">トップへ</a>
				<h2>カテゴリー</h2>
				<div class="side-box">
					<!-- <ul class="globalmenu">
						<li><a href="sample2columnlayout-a.html">制作アイワナ</a></li>
						<li><a href="sample2columnlayout-b.html">小説</a></li>
						<li><a href="sample2columnlayout-c.html" class="here">その他</a></li>
					</ul> -->

					<div class="menu-wrap">

						<label for="acd-menu">制作ゲーム（公開順）</label>
						<input type="checkbox" id="acd-menu">
						<ul class="acd-list">

							<!-- ゲームリスト -->
							<div id="workGameList">

								<game-list
								v-for="game in gameList"
								v-bind:gamename="game"
								v-bind:key="game.id"
								></game-list>

							</div>
							<script src="/scripts/main.js"></script>

						</ul>
					</div>

				</div>


				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu2">小説</label>
						<input type="checkbox" id="acd-menu2">
						<ul class="acd-list2">
							<!-- 小説リスト -->
							<div id="workStoryList">

								<story-list
								v-for="story in storyList"
								v-bind:storyname="story"
								v-bind:key="story.id"
								></story-list>

							</div>
							<script src="/scripts/main.js"></script>
						</ul>
					</div>

				</div>



				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu3">壁紙</label>
						<input type="checkbox" id="acd-menu3">
						<ul class="acd-list3">
							<li><a href="/contents_PaperWall/fig_Lazy.html">fig.Lazy</a></li>
							<li><a href="/contents_PaperWall/fig_Oblivion.html">fig.Oblivion</a></li>
						</ul>
					</div>

				</div>



				

			</div>

<!-- 	<div class="side-box">
		<h2>CSS</h2>
		<p>
		</p>
	</div> -->

</div>
</div>
<!-- ====================== -->
<!-- ▲サイドを作るブロック -->
<!-- ====================== -->

	</div>
	<!-- ======================= -->
	<!-- ▲2カラムレイアウト領域 -->
	<!-- ======================= -->

	<div class="pagefooter">
		
		<p class="footlink">
			
		</p>
	</div>

</body>
</html>


