

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="ja">
	<title>pokepureの備忘録置き場</title>
	<meta name="viewport" content="initial-scale=1">

	<!-- =========================================================== -->
	<!-- ▼共通の装飾（配色や余白などは、このCSSソースをご覧下さい） -->
	<!-- =========================================================== -->
	<!-- <link type="text/css" rel="stylesheet" href="forsample.css"> -->



	<!-- Original CSS -->
	<link rel="stylesheet" type="text/css" href="../pokepure_newSiteStyle.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!-- Vue.JS CDN(開発バージョン) -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<!--  サイト制作の参考：https://allabout.co.jp/gm/gc/463388/#aa463388responsive-columns -->


	<!-- ==================================================== -->
	<!-- ▼このページ用のレイアウトを記述したCSS（パターンC） -->
	<!-- ==================================================== -->
	
</head>

<body>

	<div class="pageheader">
		<h1>pokepureの備忘録置き場</h1>
		<p>
			制作してきたやつの記録を残す場所
		</p>
	</div>

	<!-- ======================= -->
	<!-- ▼2カラムレイアウト領域 -->
	<!-- ======================= -->
	<div class="page-cover">

		<!-- ====================== -->
		<!-- ▼メインを作るブロック -->
		<!-- ====================== -->
		<div class="main-column">

			<div class="main-box">
				<!-- <h2>ようこそ、ここはタイトルよ</h2> -->

				<div class="Game_info">

					<div class="row">
						<div class="col-sm-6 col-md-6">
							<img src="https://delicious-fruit.com/ratings/screenshots/19578_000025b2" width="100%" height="auto">
						</div>

						<div class="col-sm-6 col-md-6">

							<h1>I wanna cut off Ring of fates </h1>

							<h2>Creator</h2>
							<p>pokepure(マリオズキ)</p>

							<h2>公開日時</h2>
							<p>2018年4月15日</p>

							<a href="https://1drv.ms/f/s!AiLwvLvQp938bYqFtQGwL3zYLjI">ダウンロードする</a>

						</div>

					</div>

				</div>


				<div class="Edited_border_Nline_contents"></div>


				<div class="Game_summary">
					<h3>ゲーム概要 </h3>
					<p>
						大学受験期間中、ちまちまと制作していた作品。
					</p>
				</div>

				<div class="Edited_border_Nline_contents"></div>

				<h3>ステージ選択/詳細 </h3>

				<div class="Choose_stage">

					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="https://delicious-fruit.com/ratings/screenshots/19578_000025ac" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage1">Stage1 「White」</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="https://delicious-fruit.com/ratings/screenshots/19578_000025ad" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage2">Stage2 「Blue」 </a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="https://delicious-fruit.com/ratings/screenshots/19578_000025ae" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage3">Stage Boss<br>「the Queen」</a>
								</div>
							</div>

						</div>


					</div>

				</div>

				<div class="Edited_border_Nline_contents"></div>


				<!-- Stage1 -->
				<a id="Stage1" class="anchor"></a>
				<h3>Stage 1 「White」</h3>

				<div class="outlook_stage">
					<h4> ステージ見出し</h4>


					<p>
						金網に捕まった時になるSEや、動くオブジェクトにあわせて配置された背景などに拘っています。
					</p>
				</div>

				<!-- Stage2 -->
				<a id="Stage2" class="anchor"></a>
				<h3>Stage 2 「Blue」</h3>

				<div class="outlook_stage">
					<h4> ステージ見出し</h4>


					<p>
						水中にいる時、プレイヤーキャラクターから泡が出ており、呼吸しているような感じを出しています。
					</p>
				</div>

				<!-- Stage2 -->
				<a id="Stage3" class="anchor"></a>
				<h3>Stage Boss 「the Queen」</h3>

				<div class="outlook_stage">
					<h4> ステージ見出し</h4>


					<p>
						某紙ゲームのラストボスをオマージュしたボスです。４つの攻撃の中からどれが来るかはランダムなので、乱数によっては少し面倒かもしれません。
					</p>
				</div>


			</div>
		</div>




		<!-- ====================== -->
		<!-- ▲メインを作るブロック -->
		<!-- ====================== -->

		<!-- ====================== -->
		<!-- ▼サイドを作るブロック -->
		<!-- ====================== -->
		<div class="side-column">

			<!-- 		<div class="side-box"> -->
				<!-- <a href="https://somechi-pokepure.github.io/pokepureAllWorks/index.html">トップへ</a> -->
				<!-- <a href="./index.html">トップへ</a> -->
				<!-- 				</div> -->




				<a href="/index.html">トップへ</a>
				<h2>カテゴリー</h2>
				<div class="side-box">
					<!-- <ul class="globalmenu">
						<li><a href="sample2columnlayout-a.html">制作アイワナ</a></li>
						<li><a href="sample2columnlayout-b.html">小説</a></li>
						<li><a href="sample2columnlayout-c.html" class="here">その他</a></li>
					</ul> -->

					<div class="menu-wrap">

						<label for="acd-menu">制作ゲーム（公開順）</label>
						<input type="checkbox" id="acd-menu">
						<ul class="acd-list">

							<!-- ゲームリスト -->
							<div id="workGameList">

								<game-list
								v-for="game in gameList"
								v-bind:gamename="game"
								v-bind:key="game.id"
								></game-list>

							</div>
							<script src="/scripts/main.js"></script>

						</ul>
					</div>

				</div>


				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu2">小説</label>
						<input type="checkbox" id="acd-menu2">
						<ul class="acd-list2">
							<!-- 小説リスト -->
							<div id="workStoryList">

								<story-list
								v-for="story in storyList"
								v-bind:storyname="story"
								v-bind:key="story.id"
								></story-list>

							</div>
							<script src="/scripts/main.js"></script>
						</ul>
					</div>

				</div>



				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu3">壁紙</label>
						<input type="checkbox" id="acd-menu3">
						<ul class="acd-list3">
							<li><a href="/contents_PaperWall/fig_Lazy.html">fig.Lazy</a></li>
							<li><a href="/contents_PaperWall/fig_Oblivion.html">fig.Oblivion</a></li>
						</ul>
					</div>

				</div>



				

			</div>

<!-- 	<div class="side-box">
		<h2>CSS</h2>
		<p>
		</p>
	</div> -->

</div>
</div>
<!-- ====================== -->
<!-- ▲サイドを作るブロック -->
<!-- ====================== -->

</div>
<!-- ======================= -->
<!-- ▲2カラムレイアウト領域 -->
<!-- ======================= -->

<div class="pagefooter">

	<p class="footlink">

	</p>
</div>

</body>
</html>


