<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="ja">
	<title>pokepureの備忘録置き場</title>
	<meta name="viewport" content="initial-scale=1">

	<!-- =========================================================== -->
	<!-- ▼共通の装飾（配色や余白などは、このCSSソースをご覧下さい） -->
	<!-- =========================================================== -->
	<!-- <link type="text/css" rel="stylesheet" href="forsample.css"> -->



	<!-- Original CSS -->
	<link rel="stylesheet" type="text/css" href="../pokepure_newSiteStyle.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!-- Vue.JS CDN(開発バージョン) -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<!--  サイト制作の参考：https://allabout.co.jp/gm/gc/463388/#aa463388responsive-columns -->


	<!-- ==================================================== -->
	<!-- ▼このページ用のレイアウトを記述したCSS（パターンC） -->
	<!-- ==================================================== -->
	
</head>

<body>

	<div class="pageheader">
		<h1>pokepureの備忘録置き場</h1>
		<p>
			制作してきたやつの記録を残す場所
		</p>
	</div>

	<!-- ======================= -->
	<!-- ▼2カラムレイアウト領域 -->
	<!-- ======================= -->
	<div class="page-cover">

		<!-- ====================== -->
		<!-- ▼メインを作るブロック -->
		<!-- ====================== -->
		<div class="main-column">

			<div class="main-box">
				<!-- <h2>ようこそ、ここはタイトルよ</h2> -->

				<div class="Game_info">

					<div class="row">
						
						<div class="col-sm-6 col-md-6">
							<img src="../images/do or die many world/Title.png" width="100%" height="auto">
						</div>



						<div class="col-sm-6 col-md-6">

							<h1>I wanna travel do or die ~Into the many world~</h1>

							<h2>Creator</h2>
							<p>pokepure(マリオズキ)</p>

							<h2>公開日時</h2>
							<p>2017年 5月5日</p>

							<a href="https://1drv.ms/f/s!AiLwvLvQp938bYqFtQGwL3zYLjI">ダウンロードする</a>

						</div>

					</div>

				</div>

				<div class="Edited_border_Nline_contents"></div>


				<div class="Game_summary">
					<h3>ゲーム概要 </h3>
					<p>
						"I wanna travel do or die"の2作目。<br>これまでに制作してきた作品の中で、１・２を争うほどお気に入りの作品。
					</p>
				</div>

				<div class="Edited_border_Nline_contents"></div>

				<h3>ステージ選択/詳細 </h3>

				<div class="Choose_stage">

					<div class="row">
						<div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">

							<div class="card">
								<img class="card-img" src="../images/do or die many world/Stage1.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage1">Stage1 <br> Beginning</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">

							<div class="card">
								<img class="card-img" src="../images/do or die many world/Stage2.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage2">Stage2 <br> Lava and Ash</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">

							<div class="card">
								<img class="card-img" src="../images/do or die many world/Stage3.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage3">Stage3 <br> Gravity and warp</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">

							<div class="card">
								<img class="card-img" src="../images/do or die many world/Stage4.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage4">Stage4 <br> Sunset , no Traps</a>
								</div>
							</div>

						</div>
					</div>

					<br>

					<div class="row">
						<div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">

							<div class="card">
								<img class="card-img" src="../images/do or die many world/Stage5.png" alt="Card image">
								<div class="card-img-overlay">
									<a href="#Stage5">Stage5 <br> Snow and Ice</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">

							<div class="card">
								<img class="card-img" src="../images/do or die many world/Stage6.png" alt="Card image">
								<div class="card-img-overlay">
									<a href="#Stage6">Stage6 <br> Blue jel and Orange jel</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">

							<div class="card">
								<img class="card-img" src="../images/do or die many world/Stage7.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage7">Stage7 <br> The New year.</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">

							<div class="card">
								<img class="card-img" src="../images/do or die many world/Stage8.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage8">StageEX <br> Eatern Sky</a>
								</div>
							</div>

						</div>
					</div>

				</div>


				<div class="Edited_border_Nline_contents"></div>

				<div class="outlook_stage">
				<a id="Stage1" class="anchor"></a>
				<h3>Stage 1 "Begining"</h3>

				
					<h4> 気持ちの良い青空の世界</h4>
					

					<p>

						草木が生えた気持ちの良い青空のステージをイメージして制作しました。
						<br>
						<br>
						<br>
					</p>

				</div>
<div class="outlook_stage">
				<a id="Stage2" class="anchor"></a>
				<h3>Stage 2 "Lava and Ash"</h3>

				
					<h4>噴火している火山と"溶岩と灰"が降っている世界。</h4>
					

					<p>
						至る所で真っ赤なマグマが落ちるという動きは個人的にお気に入りです。
						敬遠されがちな(?)デフォタイルも見せ方次第では面白くなるということを表そうとしていました。
						<br>
						<br>
						<br>
					</p>

				</div>
<div class="outlook_stage">
				<a id="Stage3" class="anchor"></a>
				<h3>Stage 3 "Gravity and warp"</h3>

				
					<h4>重力反転とワープする球がある世界。</h4>
					


					<p>
						プレイヤーの重力が反転した時に合わせて、画面全体を同様に反転させています。反転していないままでは通像と比べ格段に何度が跳ね上がるため、この形にしています。<br>

						BGMとして使っている"夢と悪夢(off vocal)"はリズム等がとても好きで、使わせていただくことにしました。
						<br>
						<br>
						<br>
					</p>
				</div>

<div class="outlook_stage">
				<a id="Stage4" class="anchor"></a>
				<h3>Stage 4 "Sunset , no traps"</h3>


					<h4>　常に日没が近く、逆光が射す世界。</h4>
					

					<p>2010年に任天堂より発売された「ドンキーコングリターンズ」内に登場する"サンセット海岸"を見て、「こういう方法もあったのか」と感じたことがきっかけとなり制作しました。<br>
						BGMも合間ってなんとなく西洋的な雰囲気があるようにも感じますね。
						<br>
						<br>
						<br>
					</p>

				</div>

<div class="outlook_stage">
				<a id="Stage5" class="anchor"></a>
				<h3>Stage 5 "Snow and Ice"</h3>

					<h4>雪の降り積もる世界と、凍った世界。</h4>
					

					<p>
						わかりにくいですが、ところどころ積もっている雪の上を歩くと少しだけ速度が下がっています。
						<br>
						<br>
						<br>

					</p>

				</div>
<div class="outlook_stage">
				<a id="Stage6" class="anchor"></a>
				<h3>Stage 6 "Blue jel and Orange jel"</h3>


					<h4>特殊な２つのジェルに塗れた世界。</h4>
					

					<p>
						BGMとギミックから分かる通り、完全にPortal2が元ネタです。<br>
						青ジェルに関して。<br>
						　ver,1.0を公開してすぐ、青ジェルの使用が難しいと思ったので変更しています。作っている時は割とすんなりいけるんですけどね……。<br>
						ところで、このステージの背景はフリー素材等ではなく、実は友人が撮った写真を使わせていただきました。
						<br>
						<br>
						<br>
					</p>
				</div>

<div class="outlook_stage">
				<a id="Stage7" class="anchor"></a>
				<h3>Stage 7 "The New year."</h3>


					<h4>ここまでの世界(ステージ)を総収した世界。</h4>
					
					<p> 
						前作(do or die)では配置をそのまま持ってきていましたが、こちらはできる限り雰囲気はそのままに構成を新しくしています。<br>
						一つのステージにつき3mapとし、あまり長すぎないように作ってはいます。がそれでも結構なボリュームです。
						ところで、Stage4は「背景が夕日であるからこそ」成立するステージなので省くことにしました。

						<br>
						<br>
						<br>
					</p>

				</div>

<div class="outlook_stage">
				<a id="Stage8" class="anchor"></a>
				<h3>Stage EX "Eastern sky"</h3>

					<h4>東洋の雲の上にある世界。</h4>
					
					<p> 
						このステージ名の由来として、Thinktec様の"Eastern horoscope"を引用しています。
						このステージの着想自体はRayarkの音楽ゲーム"VOEZ"から得ていました(BGMと虹色のエフェクト)。<br>
						乗った後は慣れると割れる、泡のようなオブジェクトのパーティクルについてはと

						<br>
					</p>
				</div>


			</div>





		</div>
		<!-- ====================== -->
		<!-- ▲メインを作るブロック -->
		<!-- ====================== -->

		<!-- ====================== -->
		<!-- ▼サイドを作るブロック -->
		<!-- ====================== -->
		<div class="side-column">

			<!-- 		<div class="side-box"> -->
				<!-- <a href="https://somechi-pokepure.github.io/pokepureAllWorks/index.html">トップへ</a> -->
				<!-- <a href="./index.html">トップへ</a> -->
				<!-- 				</div> -->




				<a href="/index.html">トップへ</a>
				<h2>カテゴリー</h2>
				<div class="side-box">
					<!-- <ul class="globalmenu">
						<li><a href="sample2columnlayout-a.html">制作アイワナ</a></li>
						<li><a href="sample2columnlayout-b.html">小説</a></li>
						<li><a href="sample2columnlayout-c.html" class="here">その他</a></li>
					</ul> -->

					<div class="menu-wrap">

						<label for="acd-menu">制作ゲーム（公開順）</label>
						<input type="checkbox" id="acd-menu">
						<ul class="acd-list">

							<!-- ゲームリスト -->
							<div id="workGameList">

								<game-list
								v-for="game in gameList"
								v-bind:gamename="game"
								v-bind:key="game.id"
								></game-list>

							</div>
							<script src="/scripts/main.js"></script>

						</ul>
					</div>

				</div>


				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu2">小説</label>
						<input type="checkbox" id="acd-menu2">
						<ul class="acd-list2">
							<!-- 小説リスト -->
							<div id="workStoryList">

								<story-list
								v-for="story in storyList"
								v-bind:storyname="story"
								v-bind:key="story.id"
								></story-list>

							</div>
							<script src="/scripts/main.js"></script>
						</ul>
					</div>

				</div>



				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu3">壁紙</label>
						<input type="checkbox" id="acd-menu3">
						<ul class="acd-list3">
							<li><a href="/contents_PaperWall/fig_Lazy.html">fig.Lazy</a></li>
							<li><a href="/contents_PaperWall/fig_Oblivion.html">fig.Oblivion</a></li>
						</ul>
					</div>

				</div>



				

			</div>

<!-- 	<div class="side-box">
		<h2>CSS</h2>
		<p>
		</p>
	</div> -->

</div>
</div>
<!-- ====================== -->
<!-- ▲サイドを作るブロック -->
<!-- ====================== -->

</div>
<!-- ======================= -->
<!-- ▲2カラムレイアウト領域 -->
<!-- ======================= -->

<div class="pagefooter">
	
	<p class="footlink">
		
	</p>
</div>

</body>
</html>
