

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="ja">
	<title>pokepureの備忘録置き場</title>
	<meta name="viewport" content="initial-scale=1">

	<!-- =========================================================== -->
	<!-- ▼共通の装飾（配色や余白などは、このCSSソースをご覧下さい） -->
	<!-- =========================================================== -->
	<!-- <link type="text/css" rel="stylesheet" href="forsample.css"> -->



	<!-- Original CSS -->
	<link rel="stylesheet" type="text/css" href="../pokepure_newSiteStyle.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!-- Vue.JS CDN(開発バージョン) -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<!--  サイト制作の参考：https://allabout.co.jp/gm/gc/463388/#aa463388responsive-columns -->


	<!-- ==================================================== -->
	<!-- ▼このページ用のレイアウトを記述したCSS（パターンC） -->
	<!-- ==================================================== -->
	
</head>

<body>

	<div class="pageheader">
		<h1>pokepureの備忘録置き場</h1>
		<p>
			制作してきたやつの記録を残す場所
		</p>
	</div>

	<!-- ======================= -->
	<!-- ▼2カラムレイアウト領域 -->
	<!-- ======================= -->
	<div class="page-cover">

		<!-- ====================== -->
		<!-- ▼メインを作るブロック -->
		<!-- ====================== -->
		<div class="main-column">

			<div class="main-box">
				<!-- <h2>ようこそ、ここはタイトルよ</h2> -->

				<div class="Game_info">

					<div class="row">
						<div class="col-sm-6 col-md-6">
							<img src="https://delicious-fruit.com/ratings/screenshots/15495_00000c76" width="100%" height="auto">
						</div>

						<div class="col-sm-6 col-md-6">

							<h1>I wanna protect one life</h1>

							<h2>Creator</h2>
							<p> よっしー☆彡,pokepure(マリオズキ)</p>

							<h2>公開日時</h2>
							<p>2015年5月10日</p>

							<a href="https://1drv.ms/f/s!AiLwvLvQp938bYqFtQGwL3zYLjI">ダウンロードする</a>

						</div>

					</div>

				</div>



				<div class="Edited_border_Nline_contents"></div>

				<div class="Game_summary">
					<h3>ゲーム概要 </h3>
					<p>
						よっしー☆彡さん主催の突発一撃大会に使われた作品。
						Stage1までができている状態で、（開催までの）2日間であと4ステージ作ってほしいと頼まれたので制作しました。<br>



						</p>
					</div>



				<div class="Edited_border_Nline_contents"></div>

				<h3>ステージ選択/詳細 </h3>

				<div class="Choose_stage">

					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="https://delicious-fruit.com/ratings/screenshots/15495_00000c77" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage1">Stage1 </a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="https://delicious-fruit.com/ratings/screenshots/15495_00000c78" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage2">Stage2 </a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="https://delicious-fruit.com/ratings/screenshots/15495_00000c79" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage3">Stage3</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="https://delicious-fruit.com/ratings/screenshots/15495_00000c7a" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage4">Stage4</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="https://delicious-fruit.com/ratings/screenshots/15495_00000c7b" alt="Card image">
								<div class="card-img-overlay">
									<a href="#Stage5">Stage5</a>
								</div>
							</div>

						</div>
						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="https://delicious-fruit.com/ratings/screenshots/15495_00000c7c" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Boss">Boss</a>
								</div>
							</div>

						</div>


					</div>

				</div>

				<div class="Edited_border_Nline_contents"></div>


			<!-- Stage1 -->
				<a id="Stage1" class="anchor"></a>
				<h3>Stage 1 </h3>

				<div class="outlook_stage">
					<h4> Creator：よっしー☆彡</h4>
				

				<p>
				デフォルトタイルを使用した、いわゆる"Guy"ステージ。
				</p>

</div>

			<!-- Stage2 -->
				<a id="Stage2" class="anchor"></a>
				<h3>Stage 2 </h3>

				<div class="outlook_stage">
					<h4> Creator：pokepure(マリオズキ)</h4>
			

				<p>
					全体的に紫色。音楽も相まって、どこかまがまがしい雰囲気。
				</p>

</div>
<!-- Stage3 -->
				<a id="Stage3" class="anchor"></a>
				<h3>Stage 3 </h3>

				<div class="outlook_stage">
					<h4> Creator：pokepure(マリオズキ)</h4>
				<p>
					25階層目には、セーブなしにとって難関である「上下針」が……。
				</p>
</div>

<!-- Stage4 -->
				<a id="Stage4" class="anchor"></a>
				<h3>Stage 4 </h3>

				<div class="outlook_stage">
					<h4> Creator：pokepure(マリオズキ)</h4>
				<p>
					陰鬱とした雰囲気のあるステージ
				</p>

</div>
<!-- Stage5 -->
				<a id="Stage5" class="anchor"></a>
				<h3>Stage 5 </h3>

				<div class="outlook_stage">
					<h4> Creator：pokepure(マリオズキ)</h4>

				<p>
					とても目に悪いステージですね。
				</p>
</div>
<!-- Boss -->
				<a id="Boss" class="anchor"></a>
				<h3>Boss </h3>

				<div class="outlook_stage">
					<h4> Creator：よっしー☆彡</h4>
	
				<p>
					ボスだけは作れなかったため、ここだけよっしー☆彡さんに頼みました。
				</p>
</div>


			</div>
		</div>




		<!-- ====================== -->
		<!-- ▲メインを作るブロック -->
		<!-- ====================== -->

			<!-- ====================== -->
			<!-- ▼サイドを作るブロック -->
			<!-- ====================== -->
			<div class="side-column">

				<!-- 		<div class="side-box"> -->
					<!-- <a href="https://somechi-pokepure.github.io/pokepureAllWorks/index.html">トップへ</a> -->
					<!-- <a href="./index.html">トップへ</a> -->
					<!-- 				</div> -->




				<a href="/index.html">トップへ</a>
				<h2>カテゴリー</h2>
				<div class="side-box">
					<!-- <ul class="globalmenu">
						<li><a href="sample2columnlayout-a.html">制作アイワナ</a></li>
						<li><a href="sample2columnlayout-b.html">小説</a></li>
						<li><a href="sample2columnlayout-c.html" class="here">その他</a></li>
					</ul> -->

					<div class="menu-wrap">

						<label for="acd-menu">制作アイワナ（公開順）</label>
						<input type="checkbox" id="acd-menu">
						<ul class="acd-list">

							<!-- ゲームリスト -->
							<div id="workGameList">

								<game-list
								v-for="game in gameList"
								v-bind:gamename="game"
								v-bind:key="game.id"
								></game-list>

							</div>
							<script src="/scripts/main.js"></script>

						</ul>
					</div>

				</div>


				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu2">小説</label>
						<input type="checkbox" id="acd-menu2">
						<ul class="acd-list2">
							<!-- 小説リスト -->
							<div id="workStoryList">

								<story-list
								v-for="story in storyList"
								v-bind:storyname="story"
								v-bind:key="story.id"
								></story-list>

							</div>
							<script src="/scripts/main.js"></script>
						</ul>
					</div>

				</div>



				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu3">壁紙</label>
						<input type="checkbox" id="acd-menu3">
						<ul class="acd-list3">
							<li><a href="./contents_PaperWall/fig_Lazy.html">fig.Lazy</a></li>
							<li><a href="./contents_PaperWall/fig_Oblivion.html">fig.Oblivion</a></li>
						</ul>
					</div>

				</div>



				

			</div>

<!-- 	<div class="side-box">
		<h2>CSS</h2>
		<p>
		</p>
	</div> -->

</div>
</div>
<!-- ====================== -->
<!-- ▲サイドを作るブロック -->
<!-- ====================== -->

	</div>
	<!-- ======================= -->
	<!-- ▲2カラムレイアウト領域 -->
	<!-- ======================= -->

	<div class="pagefooter">
		
		<p class="footlink">
			
		</p>
	</div>

</body>
</html>


