

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="ja">
	<title>pokepureの備忘録置き場</title>
	<meta name="viewport" content="initial-scale=1">

	<!-- =========================================================== -->
	<!-- ▼共通の装飾（配色や余白などは、このCSSソースをご覧下さい） -->
	<!-- =========================================================== -->
	<!-- <link type="text/css" rel="stylesheet" href="forsample.css"> -->



	<!-- Original CSS -->
	<link rel="stylesheet" type="text/css" href="../pokepure_newSiteStyle.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<!-- Vue.JS CDN(開発バージョン) -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<!--  サイト制作の参考：https://allabout.co.jp/gm/gc/463388/#aa463388responsive-columns -->


	<!-- ==================================================== -->
	<!-- ▼このページ用のレイアウトを記述したCSS（パターンC） -->
	<!-- ==================================================== -->
	
</head>

<body>

	<div class="pageheader">
		<h1>pokepureの備忘録置き場</h1>
		<p>
			制作してきたやつの記録を残す場所
		</p>
	</div>

	<!-- ======================= -->
	<!-- ▼2カラムレイアウト領域 -->
	<!-- ======================= -->
	<div class="page-cover">

		<!-- ====================== -->
		<!-- ▼メインを作るブロック -->
		<!-- ====================== -->
		<div class="main-column">

			<div class="main-box">
				<!-- <h2>ようこそ、ここはタイトルよ</h2> -->

				<div class="Game_info">

					<div class="row">
						<div class="col-sm-6 col-md-6">
							<img src="https://delicious-fruit.com/ratings/screenshots/22535_00005a58" width="100%" height="auto">
						</div>

						<div class="col-sm-6 col-md-6">

							<h1>I wanna continue Explorer</h1>

							<h2>Creator</h2>
							<p>pokepure(マリオズキ)</p>

							<h2>公開日時</h2>
							<p>
								完成&作品提出：2020年9月5日
							　　     一般公開：2020年10月10日</p>

							<a href="https://1drv.ms/f/s!AiLwvLvQp938bYqFtQGwL3zYLjI">ダウンロードする</a>

						</div>

					</div>

				</div>

				<div class="Edited_border_Nline_contents"></div>

				<div class="Game_summary">
					<h3>ゲーム概要 </h3>
					<p>
						ちゃすおさん主催「アイワナ製作者コンテスト３」に向けて制作・提出した作品。
						総合３位の成績を収めることが出来ました。<br>
						公開時に"Explorer"のスペルをミスしていたのとても恥ずかしい。



					</p>
				</div>



				<div class="Edited_border_Nline_contents"></div>

				<h3>ステージ選択/詳細 </h3>

				<div class="Choose_stage">

					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/ContinueExplorer/CX_1.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage0">始まりの丘 </a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/ContinueExplorer/CX_1_2.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage1">丘の駅舎 </a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/ContinueExplorer/CX_2.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage2">遺跡前の駅舎</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/ContinueExplorer/CX_3.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage3">蒼然の洞窟</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/ContinueExplorer/CX_4.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage4">入相の遺跡</a>
								</div>
							</div>

						</div>

						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">

							<div class="card">
								<img class="card-img" src="/images/ContinueExplorer/CX_5.png" alt="Card image">
								<div class="card-img-overlay">
									<!--<p class="card-text">I'm text that has a background image!</p>-->
									<a href="#Stage5">Thanks!</a>
								</div>
							</div>

						</div>


					</div>

				</div>

				<div class="Edited_border_Nline_contents"></div>


				<!-- Stage0 -->
				<a id="Stage0" class="anchor"></a>
				<h3>始まりの丘 </h3>

				<div class="outlook_stage">


					<p>
						ゲームのチュートリアルを意識したステージです。この先で使うことになるいくつかのギミックを、家から駅へ向かう途中で混ぜ込んでいます。
					</p>
				</div>

				<!-- Stage1 -->
				<a id="Stage1" class="anchor"></a>
				<h3>丘の駅舎</h3>

				<div class="outlook_stage">

					<p>
						ようやく汽車の駅までたどり着いた主人公。この先に待つ、小さな冒険に胸を膨らませながら乗車していきます。<br>
						&emsp; こういう、「汽車に乗り込みどこか別のところへ移動する」という演出はとても前からやりたかったことでした。技術等の関係から出来ていませんでしたが、ここでようやく実装することができてとてもうれしいです。
					</p>
				</div>

				<!-- Stage2 -->
				<a id="Stage2" class="anchor"></a>
				<h3>遺跡前の駅舎</h3>

				<div class="outlook_stage">


					<p>
						この大会の主催者である、ちゃすおさんに登場していただきました。<br>
						話しかけることができるようにしています。この会話ボックスを作り出すのにはとても苦労しました（方法がとても原始的だったため）。<br>
						途中にいる牛は、重なって"↑"キーを押すと鳴き声を上げます。
					</p>
				</div>

				<!-- Stage3 -->
				<a id="Stage3" class="anchor"></a>
				<h3>蒼然の洞窟</h3>

				<div class="outlook_stage">


					<p>
						主人公は洞窟に入り込んだちゃすおさんの牛を助けるため、洞窟の最深部を目指します。<br>
						&emsp; 
						滴る水のエフェクトやところどころに水を設置することで、ほの暗い洞窟のような雰囲気を出してみました。<br>
						特殊な敵として、水色スライム（球を当てると倒せる）と赤色スライム：球を当てると一定時間ブロック化）がいます。特にこの赤色スライムを用いたギミックは、人によって行き方やタイミングが違うため、個人的には面白いものになったのではないかと思います。
					</p>
				</div>

				<!-- Stage4 -->
				<a id="Stage4" class="anchor"></a>
				<h3>入相の遺跡</h3>

				<div class="outlook_stage">


					<p>
						『蒼然の洞窟』で助けた牛が、バリケードを破壊したことで入れるようになりました。<br>
						バリケードを突破した牛が戻ってくる罠。　「にゅ」っと出てくる針。　上っている途中にちぎれるロープ……。　
						色々とやってみたいことを詰め込んだ、（全体の雰囲気も相まって）とてもお気に入りのステージです。<br>
						&emsp; 途中で出てくる中ボスキャラを倒したとき、プレイヤーのいる位置によって次の配置の難易度が変わるというのは今まで見たことがないので、制作時の自分をめちゃくちゃ褒めたい部分です（直後の各氏ブロックは殴りたいですが……）。
					</p>
				</div>

				<!-- Stage3 -->
				<a id="Stage5" class="anchor"></a>
				<h3>Thanks!</h3>

				<div class="outlook_stage">


					<p>
						ゲームクリア。お疲れさまでした。
					</p>
				</div>


			</div>
		</div>




		<!-- ====================== -->
		<!-- ▲メインを作るブロック -->
		<!-- ====================== -->

		<!-- ====================== -->
		<!-- ▼サイドを作るブロック -->
		<!-- ====================== -->
		<div class="side-column">

			<!-- 		<div class="side-box"> -->
				<!-- <a href="https://somechi-pokepure.github.io/pokepureAllWorks/index.html">トップへ</a> -->
				<!-- <a href="./index.html">トップへ</a> -->
				<!-- 				</div> -->




				<a href="/index.html">トップへ</a>
				<h2>カテゴリー</h2>
				<div class="side-box">
					<!-- <ul class="globalmenu">
						<li><a href="sample2columnlayout-a.html">制作アイワナ</a></li>
						<li><a href="sample2columnlayout-b.html">小説</a></li>
						<li><a href="sample2columnlayout-c.html" class="here">その他</a></li>
					</ul> -->

					<div class="menu-wrap">

						<label for="acd-menu">制作ゲーム（公開順）</label>
						<input type="checkbox" id="acd-menu">
						<ul class="acd-list">

							<!-- ゲームリスト -->
							<div id="workGameList">

								<game-list
								v-for="game in gameList"
								v-bind:gamename="game"
								v-bind:key="game.id"
								></game-list>

							</div>
							<script src="/scripts/main.js"></script>

						</ul>
					</div>

				</div>


				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu2">小説</label>
						<input type="checkbox" id="acd-menu2">
						<ul class="acd-list2">
							<!-- 小説リスト -->
							<div id="workStoryList">

								<story-list
								v-for="story in storyList"
								v-bind:storyname="story"
								v-bind:key="story.id"
								></story-list>

							</div>
							<script src="/scripts/main.js"></script>
						</ul>
					</div>

				</div>



				<div class="side-box">

					<div class="menu-wrap">
						<label for="acd-menu3">壁紙</label>
						<input type="checkbox" id="acd-menu3">
						<ul class="acd-list3">
							<li><a href="/contents_PaperWall/fig_Lazy.html">fig.Lazy</a></li>
							<li><a href="/contents_PaperWall/fig_Oblivion.html">fig.Oblivion</a></li>
						</ul>
					</div>

				</div>



				

			</div>

<!-- 	<div class="side-box">
		<h2>CSS</h2>
		<p>
		</p>
	</div> -->

</div>
</div>
<!-- ====================== -->
<!-- ▲サイドを作るブロック -->
<!-- ====================== -->

</div>
<!-- ======================= -->
<!-- ▲2カラムレイアウト領域 -->
<!-- ======================= -->

<div class="pagefooter">

	<p class="footlink">

	</p>
</div>

</body>
</html>


